$primaryColor: #0064b1;
$secondaryColor: #ffffff;
$bodyColor: tometo;
$borderColor: rgba(0, 80, 252, 0.623);
$textColorBlak: #808080;
$textColorQuarts:#e3e3e3;
$textColorWt:#FFFFFF;
$placeholderColor:#aaaaaa;
$shadowColor:#5a5959b6;
$hoverColor: tomato;
$dangerColor: red;


$screen-m:425px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;

