@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap";

@import "reset";
@import "variables";
@import "font";

body {
    font-family: "Roboto", sans-serif;
    background-color: $primaryColor;
    color: $textColorBlak;
}

.app-layout {
    display: grid;
    justify-content: center;

    @media (max-width: $screen-md) {
    }
}

.app-container {
  
    width: 60vw;
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    grid-template-columns: 1fr auto;
    .app-header {
        // background-color: $bodyColor;
        color: $textColorQuarts;
        user-select: none;

        .app-site-info {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            padding: 10px;
            .heading {
                cursor: pointer;
                font-size: 4vw !important;
                font-weight: bold;
                margin: 0px;
                padding: 0px;
                color: $textColorWt;
                .icon-paper-plane{
                    font-size: 3vw !important;
                }
            }
            .site-title {
                margin-top: 20px;
                font-size: 3vw;
            }
            .site-moto {
                margin-top: 10px;
                font-size: 2vw;
            }
            @media only screen and (max-width: $screen-sm) {
                .heading {
                    font-size: 10vw !important;
                    text-align: center;
                    .icon-paper-plane {
                        font-size: 8vw !important;
                     
                    }
                }
 
                .site-title {
                   display: none;
                }
                .site-moto {
                    display: none;
                }
            }
        }
    }
    .app-content {
        // background-color: $bgColor;
        display: grid;
        justify-content: center;
      
        .app-card {
            display: block;
            width: 500px;
            border-radius: 10px;
            .app-card-header {
                background-color: #e3e3e3;
                color: #444444;
                padding: 20px;
            }
            .app-card-content {
                background: rgb(255, 255, 255);
                color: #444444;
                padding: 10px;
                 
            }
        }
    }
}



.app-file-select-zone {
    text-align: center;
    background-color: $textColorQuarts;
    color: $textColorBlak;
    &.error{
        color:$dangerColor !important;
        label {
            border: 2px dashed $dangerColor !important;
            color:$dangerColor !important;
        }
        
    }

    label {
        display: block;
        border: 2px dashed $textColorBlak;
        padding: 10px;
        input {
            position: fixed;
            top: -99999px;
        }
    }
    .app-upload-description {
        font-size: 15px;
        margin-top: 10px;
      
        .total-files-count {
            font-size: 12px;
            color: $primaryColor;
            padding-top: 5px;
        }
    }
      
    .text-uppercase{
        text-transform:uppercase;
    }
    .app-upload-icon {
        display: block;
        height: 100px;
        width: 100px;
       
        margin: 10px auto 20px;
        &.icon-picture-streamline, &.icon-picture-streamline-multi{
            font-size:100px;
            user-select: none;
        }

    }
}

.app-form-item {
    padding: 10px;
    &.error{
        color:$dangerColor !important;
        label span {
            color:$dangerColor !important;
        }
        ::placeholder{
            color:$dangerColor !important;
        }
        input{
            border: 1px solid $dangerColor !important;
            color:$dangerColor !important;
        }
    }
    .label-title {
        display: block;
        padding: 20px 0 5px 0;
        color: rgba(123, 123, 123, 0.9);
        font-size: 13px;
    }
    input,
    textarea {
        width: 97%;
        height: 40px;
        border: 1px solid #e3e3e3;
        padding-left: 10px;
        transition: all 0.3s ease-in;
        &:focus,
        &:active {
            outline: none;
            border: 1px solid $primaryColor;
        }
        &:hover {
            border: 1px solid $primaryColor;
        }
        textarea::placeholder {
            color: $placeholderColor;
        }
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholderColor;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $placeholderColor;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $placeholderColor;
    }

    textarea {
        height: 100px;
        color: $placeholderColor;
    }
    button {
        padding: 15px;
        width: 100%;
        background-color: $primaryColor;
        color: $textColorWt;
        font-weight: 700;
        user-select: none;

        transition: all 0.3s ease-in;
        border: none;
        border-radius: 4px;
        &:focus,
        &:active {
            outline: none;
        }
        &:hover {
            background-color: $hoverColor;
            color: $textColorWt;
            box-shadow: 3px 3px 10px $shadowColor;
            cursor: pointer;
        }
    }
}

.app-files-selected {
    display: grid;
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        width: 12px;
        height:12px;
    }
    &::-webkit-scrollbar-track {
        background: $textColorQuarts;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $hoverColor;
        border-radius: 20px;
        border: 2px solid $textColorWt;
    }
 
    .app-files-selected-item {
        background-color: $textColorWt;
        display: grid;
        grid-template-columns: 1fr 20px;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $textColorBlak;
        margin-bottom: 5px;
        .file-action {
            text-align: center;
        }
        .file-action-btn {
            background: none;
            border: none;
            outline: none;
            border-radius: 18%;
            &:hover {
                background: $hoverColor;
                color: $textColorWt;
                outline: none;
            }
            &:active {
                background: $primaryColor;
                color: $textColorWt;
            }
        }
    }
}

.app-card-content {
  
    &.uploading, &.app-card-upload-sent, &.downloading{
        padding:50px 30px !important;
       
        border-radius: 10px;
        user-select: none;
        .app-home-uploading-icon, .app-home-uploading-sent-icon, .app-home-download-icon{
            color:$hoverColor;
            text-align: center;


            i{
                font-size:8vw;
                border-radius: 49%;
                border: 1px solid $hoverColor;
                padding: 20px;
                display: block;
                width: 10vw;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            h2{
                font-size:3vh;
                line-height: 3vh;
                color:$hoverColor
            }
        }
    }  
    .app-home-upload-sent-message, .app-home-download-message{
        padding:20px 0 ;
        color:$textColorBlak;
        text-align: center;
        font-size:2vh;
        line-height: 3vh;
    }
    .app-home-uploading-total{
        color:$hoverColor;
        text-align: left;
        padding:50px 0 10px 0px;
    }
    .app-home-uploading-state{
        color:$hoverColor;
        display: grid;
        grid-template-columns: 1fr auto;
    }  
    .app-home-uploading-progress{
        height: 15px;
        width: 100%;
        border-radius: 10px;
        background-color: $textColorQuarts;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
        .app-home-progress-bar{
            position: absolute;
            top:0px;
            left:0px; 
            height: 15px;
            background-color: $hoverColor;
        }
    }
    .app-home-uploading-action, .app-home-sent-action, .app-home-download-action{
        .cancel, .sentBtn, .viewFiles, .downloadBtn {
            width: 100%;
            height:60px;
            background: $primaryColor;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border: 0;
            border-radius: 4px;
            padding: 10px;
            margin-top: 20px;
            outline: none;
            &:hover, &:active{
                background-color: $hoverColor;
               
            }
            a{
                color:$textColorWt;
                text-decoration: none;
            }
        }
        
    }
    
}

 
.app-download-file-info{
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
}

.app-home-download-file-list{
   
    .app-download-file-item {
        display: grid;
        grid-template-columns: 1fr 10%;
        padding-bottom: 5px;
        margin-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid $textColorQuarts;
        color:$textColorBlak;
        overflow-x: auto;
        &:hover{
            color:$hoverColor;
        }
        .item-name{
           white-space: wrap;
           display: inline;
           word-break: break-all;
        }
        .download-action{
            text-align: right;
        }
        .item-download{
            font-size:3vh;
            text-align: right;
            &:hover{
                color:$hoverColor;
                cursor: pointer;
            }
        }
        .download-action a{
            color:$textColorBlak;
            text-decoration: none;
        }
    }
    
    
}




@media only screen and (max-width: $screen-sm) {
    .app-container {
        width: 95vw;
        padding: 10px;
        grid-template-columns: 1fr;
        justify-content: start;
        align-items: start;
        height: auto;
        transition: all 0.5s ease-out;
        .app-header,
        .app-content {
            .app-card {
                width: 90vw !important;
            }
            .site-title {
                font-size: 6vw !important;
            }
            h1 {
                font-size: 8vw !important;
            }
            .site-moto {
                margin-top: 5px;
                font-size: 4vw !important;
            }
        }
    }
} //Media Query END

@media only screen and (max-width: $screen-lg) {
    .app-container {
        width: 90vw !important;
    }
}

@media only screen and (max-width: $screen-m) {
    .app-card {
        width: 80vw !important;
    }
}
